* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/

.headercontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
}

.headerlogo {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 100px;
}

.headerlink1,
.headerlink2,
.headerlink3 {
    align-items: flex-end;
    margin-left: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlink3 {
    margin-right: 100px;
}

/*HEADER*/
/*HERO*/

.herocontainer {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 100px;
    height: 34vh;
}

.textcontainer {
    width: 300px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.herobird {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
}

button {
    width: 100px;
    height: auto;
    background-color: #3882F6;
    border-color:#1F2937;
    color: #F9FAF8;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px;
}

/*HERO*/
/*INFORMATION*/

.informationcontainer {
    display: flex;
    justify-content: center;
}

h2 {
    color:#1F2937;
    font-size: 36px;
}

/*INFORMATION*/
/*IMAGES AND TEXT*/

.imagecontainer {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.imageandtext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.owl, .eagle, .peacock, .osprey {
    width: 150px;
    height: 150px;
}

img {
    border: 3px solid #3882F6;
    border-radius: 12px;
}

/*IMAGES AND TEXT */
/*QUOTE SECTION*/

.quotesectioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 34vh;
}

.inspiringquote {
    display: flex;
    width: 370px;
}

.thor {
    display: flex;
}

/*QUOTE SECTION*/
/*CALL TO ACTION*/

.callcontainer {
    display: flex;
    justify-content: center;
}

.callbluebox {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 60px;
    color: #F9FAF8;
}

.calltext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 50px 5px 50px;
}

.callbutton {
    margin: 20px;
    margin-top: 50px;
    border-color:#F9FAF8;
    height: 30px;
}

/*CALL TO ACTION*/
/*FOOTER*/

.footercontainer {
    display: flex;
    justify-content: center;
    background-color:#1F2937;
    color:#F9FAF8;
}

/*FOOTER*/
